/****************************************************************************
 공통 스타일 지정 변수
*****************************************************************************/

// 기본 폰트
$default-font-family: Pretendard, sans-serif;
// 기본 폰트 사이즈 (1rem 이 16px 일 경우 14px)
$default-font-size: 0.875rem;
// 기본 글자 색상
$default-text-color: #1E2124;
// 기본 모서리 둥글기
$default-border-radius: 0.5rem;
// 밝은색상 border
$light-border: 1px solid #e9ebec;


/****************************************************************************
 컴포넌트별 커스텀 스타일
*****************************************************************************/

// 상단 경로표시 제목의 글자 크기
$breadcrumb-font-size: 1rem;

// .mdc-list-item 의 높이, & label.mdc-list-item__text 의 행간
$list-item-size: 3rem;


/****************************************************************************
 사이즈별 지정 변수 - xl/lg/md
*****************************************************************************/

//---- xl 사이즈 설정
$border-radius-xl: 1.23rem;

//---- lg 사이즈 설정
// 한 행 높이 
$row-height-lg: 3.125rem;
// 모달 대화상자 좌우 크기
$dialog-lg: 560px;

//---- md 사이즈 설정
// 한 행 높이 
$row-height-md: 2.5rem;
// 모달 대화상자 좌우 크기
$dialog-md: 500px;
