@import 'variables';

:root {
    // material-components-web.css 에는 theme 색상이 하드코딩 되어 있고 scss 로 변환한 후 삭제 예정
    --mdc-theme-primary: #14BBB3;
    --mdc-theme-light: #ced4da;
    --mdc-theme-on-light: #1E2124;
    --mdc-checkbox-checked-color: var(--mdc-theme-primary);
}

// 폰트 설정은 _variables.scss 적용시 제거 예정
body,
.mdc-button,
.mdc-text-field__input,
.mdc-floating-label,
.mdc-dialog__title,
.mdc-select__selected-text,
.mdc-tab,
.mdc-drawer .mdc-list-group__subheader,
.mdc-form-field {
    font-family: $default-font-family;
    color: $default-text-color;
}

// 좁은 형태의 스크롤 바 적용
.custom-scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
    }
    &::-webkit-scrollbar-thumb {
        outline: none;
        border-radius: 10px;
        border: 4px solid transparent;
        box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);

        &:hover {
            box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
        }
    }
    &::-webkit-scrollbar-track {
        padding: 0;
        box-shadow: none;
        background-color: transparent;
    }
}


// mdc 에 light 의 custom theme 색상을 추가
.mdc-theme--on-light {
    color: var(--mdc-theme-on-light, #1E2124) !important;
}
.mdc-theme--light-bg {
    background-color: var(--mdc-theme-light, #ced4da) !important;
}


.login-page {
    display: flex;
    background-size: cover;

    // 배경 이미지 갯수 만큼 늘려준다.
    @for $i from 1 through 4 {
        &.type-#{$i} {
            background: url(/smp/assets/img/cover-pattern-#{$i}.png) center center;
        }
    }
}


.login-card {
    margin: auto;
    width: 536px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
}

.auth-page-logo {
    margin: 2rem 0;
    text-align: center;
}

.auth-page-logo h5 {
    letter-spacing: 0.05rem;
    font-size: 1.015625rem;
    margin: 1.5rem 0 0;
}

.login-input-forms {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login-row {
    height: 50px;

    &.misc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        height: 50px;

        > .remember-id {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        > .admin-registration-button {
            height: $row-height-md;
            letter-spacing: 0;
        }
    }
}


.login-input-forms .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
    color: black;
}

.mdc-text-field--outlined .mdc-notched-outline,
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #ced4da;
}
.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline {
    border-color: var(--mdc-theme-primary);
}
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-radius: 8px 0 0 8px;
    border-width: 1px;
}
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    border-radius: 0 8px 8px 0;
    border-width: 1px;
}
.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline--notched .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
    border-width: 1px;
}
.mdc-button {
    border-radius: 8px;
    font-weight: 600;
    font-size: $default-font-size;

    // 아이콘 처리
    > i.mdi  {
        margin-right: 4px;
    }
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(153, 160, 178)
}
.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-31px) scale(0.75);
    -ms-transform: translateY(-31px) scale(0.75);
    transform: translateY(-31px) scale(0.75);
    color: var(--mdc-theme-primary);
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-error, #b00020)
}

.mdc-checkbox__background {
    border-radius: 5px;
}


// .mdc-select--outlined .mdc-select__anchor,
// .mdc-select__selected-text,
// .mdc-select,
// .mdc-text-field,
// .mdc-button,
// .mdc-button--outlined {
//     height: 50px;
// }


// 픽셀 크기 고정폭 10px ~ 300px 까지 10px 단위로 생성 (아래 주석 예시)
/**
.w-10px {
    width: 10px !important;
}
.w-20px {
    width: 10px !important;
}

...

.w-300px {
    width: 100px !important;
}
*/
@for $i from 1 through 30 {
    .w-#{$i * 10}px {
        width: #{$i * 10}px !important;
    }
}

// 폰트 사이즈 고정 10px ~ 30px
@for $i from 10 through 30 {
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }
}

// form-row 를 상하로 쌓은 레이아웃
.form-row-stack {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    // width: 560px;
}

.mdc-dialog__actions,
.form-row {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    // 크기를 지정하지 않으면 이 크기
    height: $row-height-lg;

    // form-row 내부에서 컴포넌트를 여러 행으로 사용하는 경우
    &.multiline-align-top {
        align-items: flex-start;
        height: auto;
    }

    // md 로 크기 지정하면 이 크기
    &.md-size {
        height: $row-height-md;
    }

    &.auto-width {
        width: auto;
    }

    &.table-controls {
        margin-bottom: 1rem;
    }

    // form-row 의 여러 mdc 컴포넌트중 크기를 자동 조절하여 나머지 공간을 채워주도록 설정
    .flex-auto {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    // 컴포넌트들의 외형 크기 지정
    .mdc-button,
    .mdc-text-field,
    .mdc-select,
    .mdc-select__anchor,
    .mdc-select__selected-text {
        height: 100%;
        max-height: $row-height-lg;
        font-size: $default-font-size;

        &.md-size {
            height: $row-height-md !important;
        }
        &.lg-size {
            height: $row-height-lg !important;
        }

        &.mdc-text-field--textarea {
            min-height: $row-height-lg;
            max-height: initial;
        }
    }

    .mdc-button {

        &:not(.mdc-button--outlined) {
            color: #ffffff;
            background-color: var(--mdc-theme-primary);

            &:disabled {

                background-color: var(--mdc-theme-primary);
                opacity: 0.5;
            }
        }


    }

    // mdc-select 에 따른 커스텀 (form-row 내부에 있는 것들만)
    .mdc-select {
        flex-shrink: 0;
        height: 100%;

        .mdc-select__anchor {
            min-width: initial;
            width: auto;
        }

        .mdc-select__dropdown-icon {
            position: initial;
            margin-left: 6px;
            margin-right: 6px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18' stroke='%231E2124' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        }

        .mdc-select__selected-text {
            padding-top: initial;
            padding-bottom: initial;
            padding-right: inherit;
            display: flex;
            align-items: center;
            min-width: 100px;
        }

        &.mdc-select--activated {

            .mdc-select__dropdown-icon {
                transform: rotate(180deg);
            }
        }

        .mdc-deprecated-list-item {
            height: $row-height-md;

            .mdc-deprecated-list-item__text {
                font-size: $default-font-size;
            }
        }
    }
}

// mdc-table
.mdc-data-table {
    width: 100%;
    border-radius: 0;

    .mdc-data-table__table {
        // width: 100%;

        .mdc-data-table__header-row,
        .mdc-data-table__header-cell,
        .mdc-data-table__row,
        .mdc-data-table__cell {
            height: $row-height-md;
        }

        .mdc-data-table__row {
            cursor: pointer;

            &.no-data {
                cursor: initial;
                &:hover{
                    background-color: unset;
                }
            }
        }

        .mdc-data-table__header-cell {
            font-family: $default-font-family;
            font-weight: 500;
            background-color: #f2f5ff;
            border-top: 1px solid #e0e0e0;
        }
        .mdc-data-table__cell {
            font-family: $default-font-family;
            font-weight: 500;
        }

    }
}

.mdc-data-table__pagination-button {
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 20px;
}

.mdc-chip {
    border-radius: $default-border-radius;
    font-size: $default-font-size;
    justify-content: center;

    &.mdc-chip--selected {
        background-color: var(--mdc-theme-primary) !important;
        color: #ffffff !important;
    }
}

.mdc-list:not(.mdc-list--two-line) > .mdc-list-item {
    height: $list-item-size;

    &[role="checkbox"] {
        padding-right: 0;
    }

    .mdc-list-item__text {
        width: 100%;
        line-height: $list-item-size;
        cursor: pointer;
        pointer-events: auto;
    }
}

.footer-button-group {
    padding: 15px 24px;
    display: flex;
    justify-content: right;
    column-gap: 8px;
}

.footer-button-group button {
    height: 39px;
    width: 100px;
}

hr.dashed {
    border: 0;
    border-top: dashed 1px rgb(233, 233, 233);
    margin: 0;
}

// header
.smp-header-title {
    height: 50px;
    display: flex;
    flex-direction: row;

    .mdc-top-app-bar__row {
        width: 100%;
        height: 50px;
        display: flex;
    }

    .breadcrumb {
        height: 50px;
        color: #fff;
        font-family: $default-font-family;
        font-size: $breadcrumb-font-size;
        line-height: $breadcrumb-font-size;

        .breadcrumb-item {
            display: flex;
            align-items: center;

            span {
                opacity: .7;

                &.active {
                    opacity: 1;
                }
            }
        }


        .material-icons {
            width: 20px;
            font-size: 16px;
            padding-left: 6px;
        }
    }

    .user {
        margin-left: auto;
        margin-right: 1rem;

        .smp-user-name {
            font-size: 14px;
            margin-left: 4px;
            white-space: nowrap;
        }
    }
}

.drawer-main-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .mdc-top-app-bar--fixed-adjust {
        padding-top: 50px;
        flex-shrink: 0;
    }
    .page-contents {
        // flex: 1;
        height: calc(100% - 50px);
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;

        .page {
            height: initial;
        }

        &.fixed-header {
            .page {
                height: 100%;
            }
        }
    }
}



.mdc-menu .mdc-list {
    border-radius: 0.5rem;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    .material-icons {
        color: #99a0b2;
        font-size: 16px;
    }


    .mdc-list-item {
        padding: 0.35rem 1.2rem;
        font-family: $default-font-family;
        font-size: 0.8125rem;
        height: initial;
        line-height: 1.5;

        .mdc-form-field {
            font-family: $default-font-family;
        }
    }
}

body {
    overflow-x: hidden;
}
#app {
    display: flex;
    background-color: #F1F2FA;

    &.RIGHT_MENU {
        flex-direction: row-reverse;
    }

    > aside {

        + .contents {
            //width: 100%;
            width: calc(100% - 100px);

            .smp-header-title {
                width: calc(100% - 100px);
                transition: width .2s;
            }
        }

        &.open {

            + .contents {
                width: calc(100% - 350px);
                transition: width .2s;

                .smp-header-title {
                    width: calc(100% - 350px);
                }
            }
        }
    }

    // sidebar navigation
    > aside {
        display: flex;
        flex-shrink: 0;
        max-width: 350px;
        min-width: 100px;
        background-color: #fff;
        z-index: 1;
        // transition: width .2s;

        .project-menu {
            flex-shrink: 0;
            width: 100px;
            height: 100%;
            background-color: #e6edf8;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;

            .topnav-hamburger {
                width: 100px;
                height: 100px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;

                .hamburger-icon {
                    width: 20px;
                    height: 14px;
                    position: relative;
                    cursor: pointer;
                    display: inline-block;

                    span {
                        background-color: #1E2124;
                        position: absolute;
                        border-radius: 2px;
                        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
                        width: 100%;
                        height: 2px;
                        display: block;
                        // left: 0;

                        &:nth-child(1) {
                            top: 0;
                            width: 80%
                        }
                        &:nth-child(2) {
                            top: 6px
                        }
                        &:nth-child(3) {
                            bottom: 0;
                            width: 60%
                        }
                    }

                    &.open {
                        transform: rotate(-90deg);

                        span {

                            &:nth-child(1) {
                                left: 1px;
                                top: 5px;
                                width: 20px;
                                transform: rotate(90deg);
                                transition-delay: 150ms;
                            }
                            &:nth-child(2) {
                                left: 3px;
                                top: 13px;
                                width: 10px;
                                transform: rotate(45deg);
                                transition-delay: 50ms
                            }
                            &:nth-child(3) {
                                left: 9px;
                                top: 13px;
                                width: 10px;
                                transform: rotate(-45deg);
                                transition-delay: .1s
                            }
                        }
                    }
                }
            }

            .project-list {
                list-style-type: none;
                margin: 10px 0 10px 10px;
                padding: 0;
                display: flex;
                flex-direction: column;
                height: 100%;

                li {
                    // transition: all 0.2s;
                    padding: 15px 5px;
                    width: 70px;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    border-radius: 20px;
                    order: 1;

                    .menu-item {
                        width: 70px;
                        margin: auto auto auto 0;
                    }

                    &.site-menu {
                        order: 0;
                        display: flex;
                        height: 50px;

                        &.active {
                            color: var(--mdc-theme-primary);
                        }

                        .menu-item {
                            margin: auto auto auto 0;
                        }
                    }
                    &.system-menu {
                        order: 2;
                        margin-top: auto;
                        display: flex;
                        height: 50px;

                        &.active {
                            color: var(--mdc-theme-primary);
                        }

                        .menu-item {
                            margin: auto auto auto 0;
                        }
                    }
                    // &.guide-download {
                    //     order: 3;
                    //     margin-bottom: 50px;
                    // }

                    &.active {
                        border-radius: 20px;
                        background-color: #fff;
                    }

                    .project-name {
                        margin-top: 10px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        line-height: 1.2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }

            .guide-download {
                display: flex;
                margin-bottom: 60px;
                width: 100px;
                height: 100px;

                > button {
                    margin: auto auto auto 25px;
                    color: #7a7c8b;
                }
            }
        }

        .menu-in-project {
            background-color: #ffffff;
            width: 0;
            transition: width .2s;
            overflow: hidden;
            white-space: nowrap;

            .inner {
                width: 250px;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .navbar-brand-box {
                height: 110px;
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .logo-desc {
                    color: #878a99;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 2.8;
                }
            }

            .project-type {
                color: var(--mdc-theme-primary);
                font-size: 11px;
                font-weight: 600;
                letter-spacing: .05em;
                padding: 0 30px 10px;
                flex-shrink: 0;
            }

            .menu-list {
                padding: 0 0 0 1rem;
                display: flex;
                flex-direction: column;
                gap: 2px;
                overflow: scroll;
                padding-bottom: 2rem;

                .menu-item {

                    .menu-link, .foldable-list-name {
                        color: $default-text-color;
                        border-radius: 0.5rem;
                        font-size: .875rem;
                        font-weight: 600;
                        padding: .55rem 14px !important;
                        display: block;
                        text-decoration: none;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &.active {
                            color: #1e2124;
                            background-color: #EAEDF2;
                        }
                        &:hover {
                            color: #1e2124;
                            background-color: #f9f9fa;
                        }
                    }


                    .foldable-list-name {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding-right: 12px !important;

                        > .material-icons {
                            margin-left: auto;
                            font-size: 18px;
                            transform: rotate(90deg);
                            transition: transform 0.2s;
                            user-select: none;


                            &.folded {
                                transform: rotate(0deg);
                            }
                        }
                    }


                    .foldable-list {

                        .foldable-list-item {

                            .foldable-menu-link {

                                &::before {
                                    content: '-'
                                }

                                &.active, &:hover {
                                    color: var(--mdc-theme-primary);
                                    font-weight: 600;
                                }

                                display: block;
                                text-decoration: none;
                                font-size: 14px;
                                color: #7c7f90;
                                padding: .5rem 14px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }


        &.open {
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);

            .project-menu {
                box-shadow: inset 0px 0 4px rgba(0, 0, 0, 0.05);

                .project-list {

                    li {
                        width: 80px;
                        padding: 15px 5px;

                        &.active {
                            border-radius: 20px 0 0 20px;
                            background-color: #fff;

                            .radius-shape {
                                background-color: #fff;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                right: 0;

                                &.above {
                                    top: -20px;
                                }
                                &.below {
                                    bottom: -20px;
                                }
                            }

                            &::before, &::after {
                                content: '';
                                position: absolute;
                                z-index: 1;
                                right: 0;
                                height: 20px;
                                border-top-color: transparent;
                                border-left-color: transparent;
                                border-bottom: transparent;
                                border-right: 20px solid #e6edf8;
                            }
                            &::before {
                                top: -20px;
                                border-radius: 0 0 20px 0;
                            }

                            &::after {
                                bottom: -20px;
                                border-radius: 0 20px 0 0;
                            }
                        }
                    }
                }
            }

            .menu-in-project {
                width: 250px;
            }
        }
    }

    > .page-contents {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    // rtl (오른쪽 메뉴 레이아웃) 인 경우
    &.RIGHT_MENU {
        flex-direction: row-reverse;

        > aside {
            flex-direction: row-reverse;

            .project-menu {

                .topnav-hamburger {

                    .hamburger-icon {

                        span {
                            right: 0;
                        }

                        &.open {
                            transform: rotate(90deg);

                            span {
                                &:nth-child(2) {
                                    transform: rotate(45deg);
                                }
                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                }
                .project-list {
                    margin: 10px 10px 10px;

                    li {
                        .menu-item {
                            margin: auto 0 auto auto;
                        }
                    }
                }
            }

            &.open {
                .project-menu {
                    .project-list {
                        margin: 10px 10px 10px 0;

                        li {
                            &.active {
                                border-radius: 0 20px 20px 0;

                                .radius-shape {
                                    left: 0;
                                }

                                &::before, &::after {
                                    right: initial;
                                    left: 0;
                                }
                                &::before {
                                    border-radius: 0 0 0 20px;
                                }

                                &::after {
                                    border-radius: 20px 0 0 0;
                                }
                            }
                        }
                    }
                }
            }

            .menu-in-project {
                .project-type {
                    text-align: right;
                }
                .menu-list {
                    .menu-item {
                        .menu-link {
                            text-align: right;
                        }

                        .foldable-list-name {
                            flex-direction: row-reverse;

                            > .material-icons {
                                margin-left: 0;
                                margin-right: auto;

                                &.folded {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        .foldable-list {
                            .foldable-list-item {
                                .foldable-menu-link {

                                    &::before {
                                        content: none
                                    }

                                    &::after {
                                        content: '-'
                                    }

                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 각 메뉴에 해당하는 page 공통
.page {
    //height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .contentRoot {

        // 기존 개발용 디자인에서 새로운 디자인으로 변경될 때 까지만 유지하고 최종에는 삭제.
        &:not(.mdc-layout-grid__inner) {
            height: 100%;
        }
    }

    .content-header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 1.5rem;
        background-color: #ffffff;
        height: 70px;

        h2 {
            margin: 0;
            font-size: 1.21875rem;
        }

        .button-group {
            margin-left: auto;

            .mdc-button {
                height: $row-height-md;
                font-size: $default-font-size;
            }
        }
    }

    .content-body {
        padding: 1.5rem;
        flex: 1;
        height: calc(100% - 120px);

        .card {
            height: 100%;
            border-radius: $border-radius-xl;
            background-color: #ffffff;
            box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
            display: flex;
            flex-direction: column;

            .card-header {
                padding: 16px;
                border-bottom: $light-border;
                flex-shrink: 0;
            }

            .card-body {
                flex: 1;
                padding: 16px;
                min-height: 100px;
                display: flex;
                flex-direction: column;
            }

            .table-result-info {

                h4 {
                    margin-bottom: 0;
                }
            }
        }
    }

    .table-pagination {
        justify-content: center;
        padding-top: 1rem;
    }

    .table-container {
        // height: 100%;
        overflow: hidden;
        flex: 1;
        position: relative;

        .mdc-data-table {
            max-height: 100%;
        }
    }
    .mdc-data-table--sticky-header {

        .mdc-data-table__header-cell {
            top: -1px;
        }
    }
}

// mdc-dialog (모달 대화 상자)
.mdc-dialog {

    .mdc-dialog__surface {
        border-radius: calc( 1.25rem - ( 1px ));

        &.dialog-md-size {
            width: $dialog-md;
        }

        &.dialog-lg-size {
            width: $dialog-lg;
        }

        h4 {
            margin: 0;
            font-family: $default-font-family;
        }
    }

    .mdc-dialog__header {
        // padding: 10px 24px;
        height: 66px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: $light-border;

        .mdc-dialog__title {
            font-size: 1.125rem;
            border-bottom: none;
            padding: 10px 24px;
            line-height: 1em;

            &::before {
                content: none;
            }
        }
        // close
        button.close-button {
            margin: 7px;
        }
        button.mdc-button {
            margin-right: 24px;
        }

    }

    .mdc-dialog__actions {
        display: flex;
        flex-shrink: 0;
        gap: 0.5rem;
        padding: 20px 24px;
        border-top: $light-border;
        height: 80px;

        > .mdc-button {
            min-width: 100px;
            font-size: $default-font-size;
            font-weight: 600;

            &.flex-left {
                margin-right: auto;
            }
        }
    }
}
