<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/nolayout">
<th:block layout:fragment="html">
    <div class="contentRoot">
        <div class="content-header">
            <h2>STT 결과</h2>
        </div>

        <div class="content-body">
            <div class="card">
                <div class="card-header pb-4">
                    <div class="form-row multiline-align-top md-size">
                        <div id="searchStatusSelector"
                             class="mdc-select mdc-select--outlined mdc-select--no-label">
                            <div class="mdc-select__anchor">
                                <div class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label">완결여부</label>
                                    </div>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </div>
                                <span class="mdc-select__selected-text-container overflow-hidden">
                                    <span class="mdc-select__selected-text"></span>
                                </span>
                                <span class="mdc-select__dropdown-icon"></span>
                            </div>
                            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                <ul class="mdc-deprecated-list">
                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected"
                                        data-value=" "
                                        aria-selected="true">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">전체</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item" data-value="COMPLETE">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">완결</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item" data-value="INCOMPLETE">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">미완결</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="searchServiceModelSelector"
                             class="mdc-select mdc-select--outlined mdc-select--no-label">
                            <div class="mdc-select__anchor">
                                <div class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label">서비스모델</label>
                                    </div>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </div>
                                <span class="mdc-select__selected-text-container overflow-hidden">
                        <span class="mdc-select__selected-text"></span>
                    </span>
                                <span class="mdc-select__dropdown-icon"></span>
                            </div>
                            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                <ul class="mdc-deprecated-list">
                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected"
                                        data-value=" "
                                        aria-selected="true">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">전체</span>
                                    </li>
                                    <li v-for="(item, index) in serviceModelList" class="mdc-deprecated-list-item"
                                        :data-value="item.serviceCode">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">{{item.serviceModelName}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mdc-text-field text-field mdc-text-field--outlined flex-auto search-bar">
                            <input type="text" class="mdc-text-field__input"
                                   aria-describedby="text-field-outlined-shape-one-helper-text" v-model="callKey"
                                   @keyup.enter="doSearch"/>
                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">콜키</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-text-field text-field mdc-text-field--outlined flex-auto search-bar">
                            <input type="text" class="mdc-text-field__input"
                                   aria-describedby="text-field-outlined-shape-one-helper-text" v-model="transcript"
                                   @keyup.enter="doSearch"/>
                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">STT결과</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-text-field text-field mdc-text-field--outlined flex-auto search-bar">
                            <input type="text" class="mdc-text-field__input"
                                   aria-describedby="text-field-outlined-shape-one-helper-text" v-model="cerFrom"
                                   @keyup.enter="doSearch"/>
                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">신뢰도(from)</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-text-field text-field mdc-text-field--outlined flex-auto search-bar">
                            <input type="text" class="mdc-text-field__input"
                                   aria-describedby="text-field-outlined-shape-one-helper-text" v-model="cerTo"
                                   @keyup.enter="doSearch"/>
                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">신뢰도(to)</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="flex-auto flex-ratio-two">
                            <div class="form-row h-100">
                                <div id="searchStartAtFromInput"
                                     class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon w-100">
                                    <i class="material-icons mdc-text-field__icon">event</i>
                                    <input type="text" class="mdc-text-field__input"
                                           aria-describedby="text-field-outlined-shape-one-helper-text"/>
                                    <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="mdc-floating-label">시작일시(from)</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                <div id="searchStartAtToInput"
                                     class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon w-100">
                                    <i class="material-icons mdc-text-field__icon">event</i>
                                    <input type="text" class="mdc-text-field__input"
                                           aria-describedby="text-field-outlined-shape-one-helper-text"/>
                                    <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label class="mdc-floating-label">시작일시(to)</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    등록일이 없는 경우는 전체 기간을 뜻합니다.
                                </p>
                            </div>
                        </div>
                        <button class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" @click="doSearch">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon">search</i>
                            <span class="mdc-button__label">검색</span>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-controls form-row md-size">
                        <div class="table-result-info flex-auto">
                            <h4>검색결과 : <span>{{fn.addComma(totalCount)}}</span>건</h4>
                        </div>
                        <button class="mdc-button mdc-button--outlined mdc-ripple-upgraded" @click="addDictation">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon">add</i>
                            <span class="mdc-button__label">전사데이터 일괄등록</span>
                        </button>
                        <div id="sizeSelector" class="mdc-select mdc-select--outlined mdc-select--no-label">
                            <div class="mdc-select__anchor">
                                <div class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label">레코드 수</label>
                                    </div>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </div>
                                <span class="mdc-select__selected-text-container overflow-hidden">
                                    <span class="mdc-select__selected-text"></span>
                                </span>
                                <span class="mdc-select__dropdown-icon"></span>
                            </div>
                            <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                 <ul class="mdc-deprecated-list">
                                    <li class="mdc-deprecated-list-item mdc-deprecated-list-item--selected"
                                        data-value="10" aria-selected="true" @click="size=10;">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">10개</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item" data-value="20" @click="size=20;">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">20개</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item " data-value="30" @click="size=30;">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">30개</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item " data-value="40" @click="size=40;">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">40개</span>
                                    </li>
                                    <li class="mdc-deprecated-list-item " data-value="50" @click="size=50;">
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">50개</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="table-container">
                        <!-- loading bar -->
                        <div id="logLoadingBar" role="progressbar"
                             class="mdc-linear-progress mdc-linear-progress--indeterminate" style="opacity: 1;">
                            <div class="mdc-linear-progress__buffering-dots"></div>
                            <div class="mdc-linear-progress__buffer"></div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                        </div>
                        <div class="mdc-data-table">
                            <div class="mdc-data-table__table-container">
                                <table class="mdc-data-table__table">
                                    <thead>
                                    <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox text-center"
                                            role="columnheader" scope="col">
                                            <div
                                                class="mdc-checkbox mdc-data-table__header-row-checkbox mdc-checkbox--upgraded mdc-checkbox--selected mdc-ripple-upgraded mdc-ripple-upgraded--unbounded">
                                                <input id="chk-all" type="checkbox"
                                                       class="mdc-checkbox__native-control"
                                                       aria-checked="mixed"/>
                                                <div class="mdc-checkbox__background">
                                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                        <path class="mdc-checkbox__checkmark-path" fill="none"
                                                              d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                                    </svg>
                                                    <div class="mdc-checkbox__mixedmark"></div>
                                                </div>
                                                <div class="mdc-checkbox__ripple"></div>
                                            </div>
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            No.
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            콜키
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            완결여부
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            채널구분
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            STT 결과개수
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            최소 신뢰도 STT 결과
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            최소 신뢰도
                                        </th>
                                        <th class="mdc-data-table__header-cell text-center" role="columnheader"
                                            scope="col">
                                            시작일시
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="mdc-data-table__content" v-if="totalCount === 0">
                                    <tr class="mdc-data-table__row" aria-selected="false">
                                        <td class="text-center" colspan="9">검색 결과가 없습니다.</td>
                                    </tr>
                                    </tbody>
                                    <tbody class="mdc-data-table__content" v-if="0 < currentList.length">
                                    <tr v-for="(item, idx) in currentList" :data-key="item.callKey"
                                        :class="{'is-warning': item.worstCer <= 0.7}"
                                        class="log-info-row mdc-data-table__row" aria-selected="false"
                                        style="cursor: pointer;">
                                        <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                                            <div
                                                class="mdc-checkbox mdc-data-table__row-checkbox mdc-checkbox--upgraded mdc-ripple-upgraded mdc-ripple-upgraded--unbounded">
                                                <input type="checkbox" class="mdc-checkbox__native-control chk-row"
                                                       aria-labelledby="u60" :value="item.callKey"/>
                                                <div class="mdc-checkbox__background">
                                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                        <path class="mdc-checkbox__checkmark-path" fill="none"
                                                              d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                                    </svg>
                                                    <div class="mdc-checkbox__mixedmark"></div>
                                                </div>
                                                <div class="mdc-checkbox__ripple"></div>
                                            </div>
                                        </td>
                                        <td class="mdc-data-table__cell text-center">{{itemFromNum - idx}}</td>
                                        <td class="mdc-data-table__cell text-center">{{item.callKey}}</td>
                                        <td class="mdc-data-table__cell text-center">{{item.status}}</td>
                                        <td class="mdc-data-table__cell text-center">{{item.serviceModelName}}</td>
                                        <td class="mdc-data-table__cell text-center">{{item.numOfTranscript}}</td>
                                        <td class="mdc-data-table__cell">{{item.worstTranscript}}</td>
                                        <td class="mdc-data-table__cell text-center">{{item.worstCer}}</td>
                                        <td class="mdc-data-table__cell text-center">
                                            {{moment(item.startAt).format("YYYY-MM-DD HH:mm:ss")}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-pagination mdc-data-table__pagination">
                        <div class="mdc-data-table__pagination-trailing mdc-chip-set mdc-chip-set--choice">
                            <div class="mdc-data-table__pagination-navigation">
                                <button class="mdc-icon-button material-icons mdc-data-table__pagination-button fs-6"
                                        data-first-page="true" v-bind:disabled="!(1 < currentPageNum)"
                                        @click="goPage(1)">
                                    <div class="mdc-button__icon">first_page</div>
                                </button>
                                <button class="mdc-icon-button material-icons mdc-data-table__pagination-button fs-6"
                                        data-prev-page="true" v-bind:disabled="!(1 < currentPageNum)"
                                        @click="goPage(Math.max(1, currentPageNum-1))">
                                    <div class="mdc-button__icon">chevron_left</div>
                                </button>
                                <button v-for="page in pagingNumbers"
                                        class="mdc-chip mdc-data-table__pagination-button fs-6 bg-transparent"
                                        :class="{'mdc-chip--selected': currentPageNum==page}" @click="goPage(page)">
                                    {{page}}
                                </button>
                                <button class="mdc-icon-button material-icons mdc-data-table__pagination-button fs-6"
                                        data-next-page="true" v-bind:disabled="!(currentPageNum < lastPageNum)"
                                        @click="goPage(Math.min(currentPageNum+1, lastPageNum))">
                                    <div class="mdc-button__icon">chevron_right</div>
                                </button>
                                <button class="mdc-icon-button material-icons mdc-data-table__pagination-button fs-6"
                                        data-last-page="true" v-bind:disabled="!(currentPageNum < lastPageNum)"
                                        @click="goPage(lastPageNum)">
                                    <div class="mdc-button__icon">last_page</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" readonly id="smpServiceUriPrefix" th:value="${smpServiceUriPrefix}">
    <input type="hidden" readonly id="defaultPageSize" th:value="${defaultPageSize}">
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        (function () {
            const DEFAULT_PAGE_START = 0;
            const DEFAULT_PAGE_SIZE = $("#defaultPageSize").val();
            const PAGING_BTN_SIZE = 5;
            const serviceUrlPrefix = $("#smpServiceUriPrefix").val();
            const DETAIL_PAGE_SERVICE_URI = location.origin + serviceUrlPrefix + "/log/{callKey}";
            const LABEL = {
                message: {
                    // 공통
                    API_ERROR_TITLE: "실패",
                    API_ERROR_MESSAGE: "일시적인 오류가 발생하였습니다. 잠시 후 다시 요청해 주세요.<br/><br/>지속적으로 동일한 문제가 발생하는 경우 관리자에게 문의하시기 바랍니다.",
                    CER_TYPE_ERROR: "신뢰도는 0 과 1 사이의 수입니다. 다시 입력해주세요."
                }
            };
            
            new Vue({
                el: ".contentRoot",
                data: {
                    LABEL: LABEL,
                    moment: moment,
                    fn: fn,
                    serviceUrlPrefix: serviceUrlPrefix,

                    //검색조건
                    callKey: "",
                    status: "",
                    serviceModelId: "",
                    transcript: "",
                    cerFrom: "",
                    cerTo: "",
                    startAtFrom: "",
                    startAtTo: "",
                    start: DEFAULT_PAGE_START,
                    size: DEFAULT_PAGE_SIZE,

                    // 현재 적용되어 있는 검색 조건
                    _searchCondition: {
                        callKey: "",
                        status: "",
                        serviceModelId: "",
                        transcript: "",
                        cerFrom: "",
                        cerTo: "",
                        startAtFrom: "",
                        startAtTo: "",
                        start: 0,
                        size: 0,
                    },

                    // 검색 결과
                    totalCount: 0,
                    currentPageNum: 0,
                    lastPageNum: 0,
                    itemFromNum: 0,
                    itemToNum: 0,
                    currentList: [],
                    pagingNumbers: [],

                    // etc
                    initSearched: false,		// 초기 검색이 제공되었는지 여부
                    serviceModelList: JSON.parse("[[${serviceModelList}]]".replaceAll('&quot;', "\"")),
                },
                created: function () {
                    var self = this;
                    this.initPage(location.search.slice(1));
                    this.$nextTick(function () {
                        self.doRefresh();
                    });
                },
                mounted: function () {
                    var self = this;

                    // 페이지 이동시 처리
                    $('#drawer-main-content-viewer').one('page.move', function () {

                        var $searchStartAtFromInput = $('#searchStartAtFromInput');
                        var $searchStartAtToInput = $('#searchStartAtToInput');
                        $searchStartAtFromInput.data('datepicker').destroy();
                        $searchStartAtToInput.data('datepicker').destroy();
                        console.log("page move out");

                    });

                    this.initMaterialUx();

                    $('#searchServiceModelSelector').data('select').unlisten('MDCSelect:change')
                    $('#searchServiceModelSelector').data('select').listen('MDCSelect:change', function (event) {
                        self.serviceModelId = $.trim(event.detail.value);
                        // self.doSearch();
                    });

                    $('#searchStatusSelector').data('select').unlisten('MDCSelect:change')
                    $('#searchStatusSelector').data('select').listen('MDCSelect:change', function (event) {
                        self.status = $.trim(event.detail.value);
                        // self.doSearch();
                    });

                    $('#sizeSelector').data('select').unlisten('MDCSelect:change')
                    $('#sizeSelector').data('select').listen('MDCSelect:change', function (event) {
                        self.size = $.trim(event.detail.value);
                        self.doSearch();
                    });

                },
                methods: {

                    /**
                     * 초기 url을 기준으로 화면 내용 설정
                     */
                    initPage: function (queryString) {

                        var params = Qs.parse(queryString);
                        this.callKey =  params.callKey || "";
                        this.status = params.status || "";
                        this.serviceModelId = params.serviceModelId || "";
                        this.transcript = params.transcript || "";
                        this.cerFrom = params.cerFrom || "";
                        this.cerTo = params.cerTo || "";
                        this.startAtFrom = params.startAtFrom || "";
                        this.startAtTo = params.startAtTo || "";
                        this.start = parseInt(params.start || DEFAULT_PAGE_START);
                        this.size = parseInt(params.size || DEFAULT_PAGE_SIZE);
						
						
						
                        this._searchCondition = {
                            callKey: this.callKey,
                            status: this.status,
                            serviceModelId: this.serviceModelId,
                            transcript: this.transcript,
                            cerFrom: this.cerFrom,
                            cerTo: this.cerTo,
                            startAtFrom: this.startAtFrom,
                            startAtTo: this.startAtTo,
                            start: this.start,
                            size: this.size,
                        };

                        // selector 초기값 설정
                        $('#searchServiceModelSelector').attr('data-value', this.serviceModelId);
                        $('#searchStatusSelector').attr('data-value', this.stats);
                        $('#sizeSelector').attr('data-value', this.size);
                    },

                    initMaterialUx: function () {

                        // ripple material ux 적용
                        const elements = document.querySelectorAll('.mdc-ripple-upgraded');
                        for (const el of elements) {
                            el.class
                            mdc.ripple.MDCRipple.attachTo(el, el.classList.contains('mdc-ripple-upgraded--unbounded') ? {
                                isUnbounded: true
                            } : void 0);
                        }

                        // input text material ux 적용
                        const textFields = document.querySelectorAll('.mdc-text-field');
                        for (const el of textFields) {
                            $(el).data('textField', mdc.textField.MDCTextField.attachTo(el));
                        }

                        // select material ux 적용
                        const selects = document.querySelectorAll('.mdc-select');
                        for (const el of selects) {
                            var $select = mdc.select.MDCSelect.attachTo(el);
                            var $el = $(el);
                            var value = $el.attr('data-value');
                            // 초기값 설정
                            _.isEmpty(value) ? $select.setSelectedIndex(0) : $select.setValue(value);
                            $el.data('select', $select);
                        }

                        $("#chk-all").on('click', function() {
                            $(".chk-row").prop('checked', $("#chk-all").is(":checked"));
                        });
                    },

                    /**
                     * 검색 버튼클릭 시 처리
                     */
                    doSearch: function () {
                        let self = this;
						
						if (!this.validateCerNum(this.cerFrom) || !this.validateCerNum(this.cerTo)) {
							 toastr.error(LABEL.message.CER_TYPE_ERROR);
							 
							 return;
						}
						
                        this._searchCondition = {
                            callKey: this.callKey,
                            status: this.status,
                            serviceModelId: this.serviceModelId,
                            transcript: this.transcript,
                            cerFrom: this.cerFrom,
                            cerTo: this.cerTo,
                            startAtFrom: this.startAtFrom,
                            startAtTo: this.startAtTo,
                            start: 0,
                            size: this.size,
                        };
						
                        this._pushHistory(this._searchCondition);
                        this._search(this._searchCondition, $('#logLoadingBar'), function (isError, data) {
                            if (isError) {
                                toastr.error(data.message, LABEL.message.API_ERROR_TITLE);
                            } else {
                                self.renderDatas(data.total, data.object, self._searchCondition);
                            }
                        });
                    },
                    /**
                     * 특정 페이지로 이동한다.
                     */
                    goPage: function (pageNum) {
                        let self = this;

                        this._searchCondition.start = this._searchCondition.size * (pageNum-1);
                        this._pushHistory(this._searchCondition);
                        this._search(this._searchCondition, $('#logLoadingBar'), function (isError, data, total, list) {
                            if (isError) {
                                toastr.error(data.message, LABEL.message.API_ERROR_TITLE);
                            } else {
                                self.renderDatas(data.total, data.object, self._searchCondition);
                            }
                        });
                    },
                    /**
                     * 현재 검색 목록을 refresh한다.
                     */
                    doRefresh: function () {
                        let self = this;
                        this._search(this._searchCondition, $('#logLoadingBar'), function (isError, data, total, list) {
                            if (isError) {
                                toastr.error(data.message, LABEL.message.API_ERROR_TITLE);
                            } else {
                                self.renderDatas(data.total, data.object, self._searchCondition);
                            }
                        });
                    },

                    /**
                     * 검색결과를 화면에 연결된 변수들에 저장
                     */
                    renderDatas: function (totalCount, list, condition) {

                        $("input[type=checkbox]").prop('checked', false);

                        var self = this;
                        this.lastPageNum = Math.ceil((totalCount || 0) / condition.size);
                        this.currentPageNum = Math.ceil(condition.start / condition.size) + 1;

                        this.totalCount = totalCount;
                        this.currentList = list || [];
                        // 최신순으로 정렬하기 때문에 역순
                        this.itemFromNum = totalCount - parseInt(condition.start);
                        this.itemToNum = totalCount - Math.min(totalCount, parseInt(condition.start) + parseInt(condition.size));

                        this.pagingNumbers = [this.currentPageNum];
                        for (let diff = 1 ; this.pagingNumbers.length < PAGING_BTN_SIZE && diff <= PAGING_BTN_SIZE ; diff++) {
                            if (1 <= this.currentPageNum - diff) {
                                this.pagingNumbers.push(this.currentPageNum - diff);
                            }
                            if (this.pagingNumbers.length < PAGING_BTN_SIZE && this.currentPageNum + diff <= this.lastPageNum) {
                                this.pagingNumbers.push(this.currentPageNum + diff);
                            }
                        }
                        this.pagingNumbers = _.sortBy(this.pagingNumbers);

                        this.initDatepicker();

                        // 화면에 리스트가 구성된 이후 각 row에 대한 클릭 이벤트 적용
                        this.$nextTick(function() {
                            $(".chk-row").unbind('click').bind('click', function(ev) {
                                ev.stopPropagation();
                            });

                            $('.log-info-row').unbind('click').bind('click', function (ev) {
                                var callKey = ev.currentTarget.dataset.key;
                                console.log(callKey);
                                console.log(DETAIL_PAGE_SERVICE_URI);
                                window.index.movePage(DETAIL_PAGE_SERVICE_URI.replace("{callKey}", callKey));
                            });
                        });
                    },

                    initDatepicker: function() {

                        var self = this;
                        var $searchStartAtFromInput = $('#searchStartAtFromInput');
                        var $searchStartAtToInput = $('#searchStartAtToInput');

                        // MaterialDatepicker 설정
                        var datepickerOption = {
                            lang: "en",		// ko 는 없음....
                            orientation: "portrait",
                            color: document.defaultView.getComputedStyle(document.documentElement).getPropertyValue("--mdc-theme-primary"),
                            closeAfterClick: false,
                            //date: null,
                            outputFormat: 'YYYY-MM-DD',
                            topHeaderFormat: 'YYYY MM',
                            headerFormat: 'Do',
                        };

                        if ($searchStartAtFromInput.data('datepicker') != null) {
                            $searchStartAtFromInput.data('datepicker').destroy();
                        }

                        $searchStartAtFromInput.data('datepicker', new MaterialDatepicker($searchStartAtFromInput.data('textField').input, $.extend({}, datepickerOption, {
							/*onOpen: function(date) {
								var targetDate = $searchStartAtFromInput.data('datepicker').picker.children[1];
								SearchFrom.onOpen(targetDate);
							},*/
                            onChange: function (date) {
								/*var targetDate = $searchStartAtFromInput.data('datepicker').picker.children[1];
								SearchFrom.onChange(targetDate);*/
								
                                if (_.isEmpty($searchStartAtFromInput.data('textField').value)) {
                                    self.startAtFrom = null
                                } else {
                                    self.startAtFrom = moment(date).format("YYYY-MM-DD HH:mm:ss");
                                }
                            }
                        })));

                        if ($searchStartAtToInput.data('datepicker') != null) {
                            $searchStartAtToInput.data('datepicker').destroy();
                        }

                        $searchStartAtToInput.data('datepicker', new MaterialDatepicker($searchStartAtToInput.data('textField').input, $.extend({}, datepickerOption, {
							/*onOpen: function(date) {
								var targetDate = $searchStartAtToInput.data('datepicker').picker.children[1];
								var prevDate = $searchStartAtFromInput.data('textField').value.split("-");
								SearchTo.onOpen(targetDate, prevDate);
							},*/
                            onChange: function (date) {
								/*var targetDate = $searchStartAtToInput.data('datepicker').picker.children[1];
								var prevDate = $searchStartAtFromInput.data('textField').value.split("-");
								SearchTo.onChange(targetDate, prevDate);*/
								
                                if (_.isEmpty($searchStartAtToInput.data('textField').value)) {
                                    self.startAtTo = null
                                } else {
                                    self.startAtTo = moment(date).format("YYYY-MM-DD HH:mm:ss");
                                }
                            }
                        })));

                        $searchStartAtFromInput.data('textField').value = this.startAtFrom ? moment(this.startAtFrom).format("YYYY-MM-DD") : '';
                        $searchStartAtToInput.data('textField').value = this.startAtTo ? moment(this.startAtTo).format("YYYY-MM-DD") : '';

                    },

                    /**
                     * 현재 검색 조건에 대한 history를 push한다.
                     */
                    _pushHistory: function (condition) {
                        if (!this.initSearched) {
                            this.initSearched = true;
                            // 맨 처음 page의 경우 history를 변경하여 back 시 이전 페이지로 돌아가도록 한다.
                            history.replaceState(null, null, "?" + $.param(condition));
                        } else {
                            history.pushState(null, null, "?" + $.param(condition));
                        }
                    },

                    /**
                     * 검색 API 호출
                     */
                    _search: function(params, $loadingBar, cbFunc) {
                        $loadingBar.css('opacity', 1);
                        $.ajax({
                            method: "GET",
                            url: this.serviceUrlPrefix + "/api/log",
                            dataType: "json",
                            data: params,
                            success: function (response, textStatus, jqXHR) {
                                if (typeof cbFunc === "function") {
                                    cbFunc(response.code !== 200, response.code === 200 ? response : response);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                if (typeof cbFunc === "function") {
                                    cbFunc(true, jqXHR.status+"] "+jqXHR.responseText);
                                }
                            },
                            complete: function () {
                                $loadingBar.css('opacity', 0);
                            }
                        });
                    },

                    /**
                     * 신규 전사데이터를 등록한다.
                     */
                    addDictation: function() {

                        var checkedList = $.map($(".chk-row:checked"), function(item) {
                            return $(item).val();
                        });

                        if (checkedList.length < 1) {
                            alert("전사데이터로 등록할 항목을 선택해 주세요");
                            return;
                        }

                        if (!confirm("전사데이터를 등록하시겠습니까?")) {
                            return;
                        }

                        var params = {
                            callKeyList: checkedList
                        };

                        $.ajax({
                            method: "POST",
                            url: this.serviceUrlPrefix + "/api/log/dictation/save",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify(params),
                            success: function (response, textStatus, jqXHR) {

                                if(response.code === 200) {
                                    toastr.success("전사데이터 등록이 완료되었습니다");
                                    return;
                                }

                                toastr.error(response.message);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr.error("전사데이터 등록에 실패했습니다");
                            }
                        });
                    },

                    /**
                     * 선택한 데이터를 삭제한다.
                     */
                    doDelete: function() {
                        var self = this;
                        var checkedList = $(".chk-row:checked");
                        var targetIdList = $.map(checkedList, function(item) {
                            return item.value;
                        });

                        if(targetIdList.length < 1) {
                            alert("삭제할 STT결과를 선택해주세요");
                            return;
                        }

                        if (!confirm("STT결과를 삭제하시겠습니까?")) {
                            return ;
                        }

                        var params = {
                            targetIdList : targetIdList
                        };

                        $.ajax({
                            method: "POST",
                            url: this.serviceUrlPrefix + "/api/log/delete",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify(params),
                            success: function (response, textStatus, jqXHR) {

                                if (response.code === 200) {
                                    self.doRefresh();
                                    toastr.success("STT결과 삭제가 완료됐습니다.");
                                    return;
                                }

                                toastr.error(response.message);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr.error(LABEL.message.API_ERROR_MESSAGE);
                            }
                        });
                    },
                    validateCerNum: function(num) {
						if (!num) {
							return true;
						}
						if (num < 0 || num > 1) {
							return false;
						}
						return true;
					}
                }
            });
        })();
    </script>
</th:block>
</html>